body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow: hidden;
}
input,
textarea,
select,
button,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Microsoft Yahei UI Light', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#root {
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
/* For youtube player */
main [class^='media-player'] {
    width: 100%;
}
/* For input on mobile */
div[class^='text-box-input'] {
    min-height: 32px;
}

.dialog {
    width: 100vw;
    min-height: 300px;
    padding: 3em 15vw;
    padding-bottom: 0;
    background: hsl(215, 70%, 30%);
    display: flex;
    flex-direction: column;
    transition: 400ms;
    height: 0;
    align-self: center;
}

.videoPlayer > * {
    width: 100%;
}
@media screen and (max-width: 850px) {
    .dialog {
        height: 100vh;
        padding: 3em;
        padding-bottom: 0;
    }
    main {
        display: block;
    }
    .videoPlayer > * {
        height: 100%;
    }
}
.dialog nav + * {
    flex: 1;
}
.dialog nav {
    text-align: right;
}

aside {
    flex: 3;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

aside .list {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
}
